body {
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    color: #242424;
    width: 100%;
    background-color: rgb(244, 244, 244);
    text-align: center;
    font-size: 1.4rem;
}

.navbar {
    background-color: #242424;
}

#resumeskills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#hardskills, #softskills {
    flex: 1;
    text-align: start;
    margin: 0 20px;
    margin-left: 40px;
}

h2,
h5,
h6,
#sideNav,
.family-name,
.fa-user-tag,
.list-inline-item i:hover,
.linkedin-link a {
    color: #1A4AEFE0;
}

h2,
h4,
h5,
h6,
#sideNav {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #1A4AEFE0;
}

h1,
.mobile-name {
    font-family: "Audiowide", ui-sans-serif;
    font-size: 5.5rem;
    letter-spacing: 0.05rem;
}

h1,
.mobile-name,
.edu-icons {
    color: #696969;
}

.list-social-icons a,
a:hover,
a:focus {
    color: #c4c4c4;
}

.list-social-icons {
    font-size: 1.5rem;
}

.list-icons {
    font-size: 3rem;
}

.list-social-icons a:hover,
#sideNav .navbar-nav .nav-item a:hover,
.nav-link a:hover,
a {
    color: #a3ff3a;
    transition: all 0.2s ease-in-out;
}

#linkedinjob {
    color: #3084f9;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    color: #c4c4c4;
}

.nav-item {
    border-bottom: 0.1rem groove #696969;
}

.navbar-nav:first-child {
    border-top: 0.1rem groove #696969;
}

#mail-address a {
    color: #242424;
}

.fa-ul {
    margin-left: 0rem;
}

.form-group {
    padding-left: 0;
}

.progress-bar,
.btn {
    background-image: linear-gradient(
            to right,
            #8fa0e3,
            #8d9ef3,
            #5f86e8,
            #3543dc,
            #1830cd
    );
}

.btn {
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: white;
    width: 50%;
    border: none;
}

.card {
    border: none;
}

button:focus,
button:active {
    outline: solid #e6dbad 2px;
}

@media (min-width: 320px) and (max-width: 992px) {
    h1,
    h4 {
        font-size: 5rem;
        display: none;
    }

    .mobile-img {
        height: 150px;
        width: 150px;
        border: solid rgba(26, 74, 239, 0.88) 5px;
        border-radius: 100%;
    }

    .mobile-name {
        font-size: 3rem;
    }

    .mobile-profession {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .resume-section {
        padding-top: 1rem !important;
        min-height: 50vh;
    }

    .linkedin-link {
        text-align: center !important;
    }
}

.contact-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-name {
    font-size: 3rem;
}

#skill-bars {
    width: 75%;
    margin: 0 auto;
}

.form-group {
    width: 50%;
}

@media (min-width: 320px) and (max-width: 768px) {
    #skill-bars {
        width: 100%;
        margin: 0 auto;
    }

    .form-group {
        width: 100%;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 18rem;
    }

    .resume-section {
        padding-top: 1rem !important;
        padding-bottom: 5rem !important;
    }

    #sideNav {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 100vh;
    }

    .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    .navbar-brand .img-profile {
        max-width: 12rem;
        max-height: 12rem;
        border: 0.3rem solid rgba(26, 74, 239, 0.88);
        border-radius: 100%;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    .navbar-collapse .navbar-nav {
        width: 100%;
    }

    .navbar-nav:first-child {
        border-top: none;
    }

    .mobile-name,
    .mobile-profession {
        display: none;
    }
}
